<!--<app-add-book></app-add-book>-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <div Style="color: white; position: centre;">BookStore</div>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://localhost:4200/books">books</a></li>
      </ul>
      <button class="btn btn-success navbar-btn" style=" float :right; " [routerLink]="['/panier']"> Purchase </button>
      <button class="btn btn-danger navbar-btn" style=" float :right; " [routerLink]="['/add']">+ Add</button>
    </div>
  </nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
